@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 3% 3%;
    --foreground: 0 0% 100%;
    --card: 240 2% 11%;
    --card-foreground: 0 0% 100%;
    --popover: 240 2% 11%;
    --popover-foreground: 0 0% 100%;
    --primary: 73 98% 55%;
    --primary-foreground: 240 3% 3%;
    --secondary: 240 2% 11%;
    --secondary-foreground: 0 0% 100%;
    --muted: 240 2% 11%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 73 98% 55%;
    --accent-foreground: 240 3% 3%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 2% 11%;
    --input: 240 2% 11%;
    --ring: 73 98% 55%;
    --radius: 0.5rem;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .border-primary {
    @apply border-primary/20;
  }
  .border-secondary {
    @apply border-red-500;
  }
}
